/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $medium-gray;
}

.preview__meta {
  margin-top: 20px;
  margin-bottom: 0;
  color: $dark-gray;
  font-size: 14px;
}

.preview__thumb {
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
  margin-bottom: 20px;
}

.entry__meta {
  color: $dark-gray;
  font-size: 14px;
}

.entry__cat {
  margin-top: 20px;
}

.term-list {
  height: 80%;

  li {
    a:hover {
      color: $dark-gunmetal !important;
    }
  }
}

/* ---------------------------------------
	Projects page
--------------------------------------- */

.projects {
  &__title-bar {
    margin-bottom: rem-calc(20);
  }

  &__masonry-grid {
    margin-top: rem-calc(60);
  }
}

/* ---------------------------------------
	Category info
--------------------------------------- */

.category-section {
  padding-inline-start: 35px;
  padding-block: 75px 20px;

  &__title {
    margin-top: 10px;
  }

  &__description {
    padding-inline: 55px;
  }

  @include breakpoint(large up) {
    &__description:before {
      content: '';
      height: 90px;
      position: absolute;
      left: 450px;
      top: 0%;
      transform: translateY(-115%) rotateZ(30deg);
      border-left: 1px solid $roman-silver;
    }

    &__description:after {
      content: '';
      height: 70px;
      position: absolute;
      right: 450px;
      bottom: 0%;
      transform: rotateZ(30deg);
      border-left: 1px solid $roman-silver;
    }
  }

  .cell.rel-content:has(&__featured-img) {
    min-height: 300px;
    background: $post-block-featured-img-bg;

    .category-section__featured-img {
      height: 100%;
      opacity: 0.66 !important;
    }
  }

  @include breakpoint(medium down) {
    padding-inline-start: 0;
  }
}
