.about {
  padding-block: rem-calc(70 125);
}

.about__category-list {
  margin-top: rem-calc(100);
  justify-content: space-between;

  @include breakpoint(medium down) {
    row-gap: 20px;
    justify-content: center;
  }
}

.category-block {
  max-width: 220px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: space-between;

  a:hover {
    filter: invert(0.55);
  }

  &__description {
    margin: 0;
    width: 80%;
  }

  &:first-child {
    max-width: 250px !important;
  }

  &:last-child {
    .category-block__description {
      width: 90%;
    }
  }

  &:not(:first-child) {
    margin-right: 25px;
  }

  &:not(:last-child):after {
    content: '';
    height: 230px;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%) rotateZ(25deg);
    border-left: 1px solid $roman-silver;
  }

  @include breakpoint(medium down) {
    &:not(:last-child):after {
      height: 175px;
    }

    &:last-child:after {
      content: '';
      height: 175px;
      position: absolute;
      right: 8%;
      top: 50%;
      transform: translateY(-50%) rotateZ(25deg);
      border-left: 1px solid $roman-silver;
    }
  }
}
