/* Slick slider default styles */

// Override slick variables (to use default slick styles just remove variables below)
$slick-font-family: $fa;
$slick-prev-character: '\f104';
$slick-next-character: '\f105';
$slick-dot-character: '';
$slick-arrow-color: $white;
$slick-dot-color: $primary-color;
$slick-dot-color-active: $lotion;
$slick-dot-size: 1rem;
$slick-arrow-size: 2.75rem;

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

/* Arrows */
.slick-arrow {
  width: $slick-arrow-size / 2;
  height: $slick-arrow-size;
  top: 45%;
  z-index: 1;

  body.single-project & {
    top: 50%;
  }

  &::before {
    font-weight: 400;
    font-size: $slick-arrow-size;
  }
}

.slick-prev {
  left: 1.5rem;
}

.slick-next {
  right: 1.5rem;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  padding-left: 35px;
  bottom: 18%;
  text-align: start;

  body.single-project & {
    padding-left: 0;
    bottom: 3%;
    text-align: center;
  }

  li {
    margin-right: 10px;

    button {
      &::before {
        font-weight: 900;
      }
    }
  }
}
